[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qtile = "*"

[dev-packages]
python-lsp-server = {extras = ["all"], version = "*"}
pylsp-mypy = "*"
pyls-isort = "*"
pylsp-rope = "*"
python-lsp-black = "*"
mypy = "*"
pywlroots = "==0.16.4"

[requires]
python_version = "3.11"
