.config/tmux/plugins
.config/nvim/spell/
.local/share/nvim/*
.config/vifm/colors/*
.config/vifm/vifm-help.txt
.config/vifm/vifm-v0.10.1-builtin-normal.pdf
.config/vifm/vifminfo.json
homefiles/zlua
npm
.config/mpv/watch_later/*
.config/zsh/.zcompdump*
.config/zsh/.zhistory
.config/zsh/plugins/*
.ccls-cache/

.venv/
__pycache__/
.config/qtile/.venv
.config/nvim-vscode/plugin
.config/qtile/qtile_extras
.config/xmonad/.stack-work
.config/xmonad/dbus-git
.config/xmonad/xmonad-contrib-git
.config/xmonad/xmonad-git
.config/vifm/colors
.config/zsh-omz/ohmyzsh
.config/zsh-omz/.p10k.zsh
.config/zsh-omz/.zcomp*
.config/zsh-omz/.zsh_history
.config/wezterm/wezterm_state_default.json
.local/bin/myscripts/sorting_filev3
.local/bin/myscripts/sort_files
*.zwc
