.config/tmux/plugins
.config/nvim/plugin/packer_compiled.*
.config/nvim/snippets/
.config/nvim/spell/
.config/nvim/tmp_dirs/
.local/share/nvim/*
.config/vifm/colors/*
.config/vifm/vifm-help.txt
.config/vifm/vifm-v0.10.1-builtin-normal.pdf
.config/vifm/vifminfo.json
homefiles/zlua
npm
.config/mpv/watch_later/*
.config/qutebrowser/qsettings/QtProject.conf
.local/share/qutebrowser/adblock-cache.dat
.local/share/qutebrowser/blocked-hosts
.local/share/qutebrowser/cmd-history
.local/share/qutebrowser/cookies
.local/share/qutebrowser/greasemonkey/
.local/share/qutebrowser/history.sqlite*
.local/share/qutebrowser/qtwebengine_dictionaries/
.local/share/qutebrowser/sessions/
.local/share/qutebrowser/state
.local/share/qutebrowser/webengine/
.config/zsh/.zcompdump*
.config/zsh/.zhistory
.config/zsh/plugins/*
.config/emacs*/auto-save-list/*
.config/emacs*/.local
.config/emacs*/*~
.config/emacs*/elpa
.config/emacs*/etc
.config/emacs*/var
.ccls-cache/

.config/vifm/vifminfo.json_66761
.venv/
.config/qtile/__pycache__
.config/qtile/.venv
.config/suckless/my-st/tmux-client-29128.log
.config/nvim-vscode/plugin
.config/qtile/qtile_extras
.config/xmonad/.stack-work
.config/xmonad/dbus-git
.config/xmonad/xmonad-contrib-git
.config/xmonad/xmonad-git
.config/vifm/colors
.config/zsh-omz/ohmyzsh
.config/zsh-omz/.p10k.zsh
.config/zsh-omz/.zcomp*
.config/zsh-omz/.zsh_history
.config/wezterm/wezterm_state_default.json
.config/qtile/modules/__pycache__
.local/bin/myscripts/sorting_filev3
.local/bin/myscripts/sort_files
