/* @keyframes blink-warning { */
/*   70% { */
/*     color: @light; */
/*   } */
/**/
/*   to { */
/*     color: @light; */
/*     background-color: @warning; */
/*   } */
/* } */
/**/
/* @keyframes blink-critical { */
/*   70% { */
/*     color: @light; */
/*   } */
/**/
/*   to { */
/*     color: @light; */
/*     background-color: @critical; */
/*   } */
/* } */

* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 12px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
  margin: 2px 2px;
}

#workspaces {
  border-radius: 5px;
  margin: 5px;
  background: #101010;
  margin-left: 2px;
}

#workspaces button {
  color: #babbf1;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #99d1db;
  border-radius: 5px;
}

button {
  background: transparent;
}

#workspaces button:hover {
  background: #1e1e1e;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power,
#custom-weather,
#custom-uptime,
#custom-docker {
  background-color: #101010;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  border-radius: 5px;
}

#custom-weather {
  margin-left: 0.5rem;
  border-radius: 5px;
}

#battery.charging {
  color: #a6d189;
}


/* Each critical module */
#cpu.critical,
#memory.critical,
#temperature.critical,
#battery.warning:not(.charging),
#battery.critical {
  color: #e78284;
  /* color: #fa5c4a; */
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  border-radius: 5px 0px 0px 5px;
}
