/* @keyframes blink-warning { */
/*   70% { */
/*     color: @light; */
/*   } */
/**/
/*   to { */
/*     color: @light; */
/*     background-color: @warning; */
/*   } */
/* } */
/**/
/* @keyframes blink-critical { */
/*   70% { */
/*     color: @light; */
/*   } */
/**/
/*   to { */
/*     color: @light; */
/*     background-color: @critical; */
/*   } */
/* } */

* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 12px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
  border-radius: 5px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
  margin: 2px 2px;
}

#workspaces {
  margin: 5px;
  background: #101010;
  margin-left: 2px;
}

#workspaces button {
  color: #babbf1;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #99d1db;
  background: #252525;
}

button {
  background: transparent;
}

#workspaces button:hover {
  background: #1e1e1e;
}

#idle_inhibitor,
#custom-music,
#keyboard-state,
#tray,
#backlight,
#bluetooth,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power,
#custom-weather,
#custom-uptime,
#custom-docker {
  background-color: #101010;
  padding: 0.5rem 1rem;
  margin: 5px 2px;
}
#pulseaudio {
  padding-left: 0.65rem;
  padding-right: 0.65rem;
}

#custom-weather {
  margin-left: 0.5rem;
}

#keyboard-state label.locked,
#battery.charging {
  color: #a6d189;
}

/* Each critical module */
#cpu.critical,
#memory.critical,
#temperature.critical,
#battery.warning:not(.charging),
#pulseaudio.muted,
#pulseaudio.source-muted,
#battery.critical {
  color: #e78284;
  /* color: #fa5c4a; */
}
#pulseaudio.muted {
  padding-left: 0.65rem;
  padding-right: 0.85rem;
}
#taskbar {
  background-color: #101010;
  margin: 5px 2px;
  padding: 0 4px;
}

/* Each window entry (button) */
#taskbar button {
  color: #babbf1;
  padding: 0.4rem;
  border-radius: 5px; /* matches global */
  background: transparent;
}

/* Focused window */
#taskbar button.active {
  color: #99d1db;
  background: #252525;
}

/* Minimized window (if you use minimize) */
#taskbar button.minimized {
  opacity: 0.5;
}

/* Hover effect, same as workspaces */
#taskbar button:hover {
  background: #1e1e1e;
}

#custom-launcher,
#custom-swaync,
#custom-launcher button {
  background-color: #101010;
  padding: 0.35rem 0.8rem;
  margin: 5px 2px;
  color: #babbf1;
  border-radius: 5px;
}

#custom-launcher:hover,
#custom-swaync:hover,
#custom-launcher button:hover {
  background: #1e1e1e;
  color: #99d1db;
}
/* Unread notifications highlight */
#custom-swaync.notification {
  color: #e5c890; /* warm yellow pop */
}

/* DND mode highlight */
#custom-swaync.dnd {
  color: #e78284; /* same red as your warning modules */
}
