// Niri configuration for CachyOS
// For documentation and full reference, see: https://github.com/YaLTeR/niri/wiki

// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
  keyboard {
    repeat-delay 300
    repeat-rate 45
    // numlock // Enable numlock on startup
  }

  touchpad {
    tap // Enable tap-to-click
    dwt
    natural-scroll // Enable natural (macOS-style) scrolling
    accel-speed 0.6
    accel-profile "flat"
    scroll-method "two-finger"
  }

  focus-follows-mouse // Automatically focus windows under the mouse pointer
  workspace-auto-back-and-forth // Enable workspace back & forth switching
}

// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

// /- output "DP-1" {
//   mode "2560x1440@359.979" // Set resolution and refresh rate
//   scale 1 // No scaling (use 2 for HiDPI)
// }

// ────────────── Keybindings ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings

binds {
  Mod+Shift+Slash                     { show-hotkey-overlay; }
  Super+Control+L hotkey-overlay-title="Lock the Screen: hyprlock" { spawn "hyprlock"; }

  // ─── Applications ───
  Mod+Return hotkey-overlay-title="Open a Terminal: wezterm" { spawn "foot"; }
  Mod+Shift+Return hotkey-overlay-title="Open a Terminal: ghostty" { spawn "kitty"; }

  Mod+E hotkey-overlay-title="Open file-manager" { spawn "thunar"; }
  Mod+Shift+E hotkey-overlay-title="Open file-manager: Yazi" { spawn "kitty" "yazi"; }

  Mod+Shift+W hotkey-overlay-title="Open secondary browser" { spawn "gtk-launch" "com.brave.Browser.desktop"; }
  Mod+W hotkey-overlay-title="Open main browser" { spawn "gtk-launch" "helium"; }

  // Mod+D hotkey-overlay-title="Open: App Finder" { spawn "fuzzel"; }
  Mod+D hotkey-overlay-title="Open: App Finder" { spawn "rofi" "-show" "drun" "-match" "fuzzy"; }
  Mod+Shift+D hotkey-overlay-title="Open: Rofi-Demu" { spawn "rofi" "-show" "run" "-config" "~/.config/rofi/dmenu.rasi"; }

  Ctrl+Alt+V hotkey-overlay-title="Volume control"      { spawn    "pavucontrol"; }
  Ctrl+Alt+C hotkey-overlay-title="Color Picker"        { spawn-sh "hyprpicker -a ||notify-send -u critical 'Program not Installed' 'hyprpicker is not installed'"; }
  Ctrl+Alt+S hotkey-overlay-title="Voice-To-Text"       { spawn-sh "kill -USR2 $(pidof handy)";    }
  Mod+Y      hotkey-overlay-title="Clipboard History"   { spawn "vicinae" "vicinae://extensions/vicinae/clipboard/history"; }
  // Mod+Y                               { spawn-sh "foot -a should_be_floating ~/.local/bin/myscripts/cliphist-fzf-sixel"; }
  Mod+P hotkey-overlay-title="Open: Window picker"      { spawn "vicinae" "deeplink" "vicinae://extensions/vicinae/wm/switch-windows"; }
  Ctrl+Alt+E hotkey-overlay-title="Open: Emoji Picker"  { spawn "vicinae" "deeplink" "vicinae://extensions/vicinae/core/search-emojis"; }
  Mod+Ctrl+S                          { spawn-sh "~/.local/bin/myscripts/logout_prompt"; }

  // ─── Audio Controls ───
  // Example volume keys mappings for PipeWire & WirePlumber.
  // The allow-when-locked=true property makes them work even when the session is locked.
  XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "~/.local/bin/myscripts/audio inc"; }
  XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "~/.local/bin/myscripts/audio dec"; }
  XF86AudioMute                       allow-when-locked=true { spawn-sh "~/.local/bin/myscripts/audio toggle"; }
  XF86AudioMicMute                    allow-when-locked=true { spawn-sh "~/.local/bin/myscripts/audio toggle-mic"; }
  Ctrl+F5                             allow-when-locked=true { spawn-sh "~/.local/bin/myscripts/audio toggle-mic"; }

  XF86AudioNext                       allow-when-locked=true { spawn-sh "playerctl next"; }
  XF86AudioPause                      allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioPlay                       allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioPrev                       allow-when-locked=true { spawn-sh "playerctl previous"; }

  XF86MonBrightnessDown allow-when-locked=true { spawn "~/.local/bin/myscripts/brightness" "dec"; }
  XF86MonBrightnessUp   allow-when-locked=true { spawn "~/.local/bin/myscripts/brightness" "inc"; }

  XF86Calculator         { spawn-sh "qalculate-gtk || gnome-calculator || galculator || notify-send 'Error' 'Calculator App not installed' -u critical"; }

  // ─── Window Movement and Focus ───
  Mod+Shift+Q                               { close-window; }

  Mod+LEFT                            { focus-column-left; }
  Mod+H                               { focus-column-left; }
  Mod+RIGHT                           { focus-column-right; }
  Mod+L                               { focus-column-right; }
  Mod+UP                              { focus-window-up; }
  Mod+K                               { focus-window-up; }
  Mod+DOWN                            { focus-window-down; }
  Mod+J                               { focus-window-down; }

  Mod+Shift+Left  { move-column-left; }
  Mod+Shift+Down  { move-window-down; }
  Mod+Shift+Up    { move-window-up; }
  Mod+Shift+Right { move-column-right; }
  Mod+Shift+H     { move-column-left; }
  Mod+Shift+J     { move-window-down; }
  Mod+Shift+K     { move-window-up; }
  Mod+Shift+L     { move-column-right; }

  Mod+Home        { focus-column-first;   }
  Mod+End         { focus-column-last;    }
  Mod+Ctrl+Home   { move-column-to-first; }
  Mod+Ctrl+End    { move-column-to-last;  }

  Mod+CTRL+LEFT                      { focus-monitor-left; }
  Mod+CTRL+RIGHT                     { focus-monitor-right; }
  Mod+CTRL+UP                        { focus-monitor-up; }
  Mod+CTRL+DOWN                      { focus-monitor-down; }

  Mod+SHIFT+CTRL+LEFT                 { move-column-to-monitor-left; }
  Mod+SHIFT+CTRL+RIGHT                { move-column-to-monitor-right; }
  Mod+SHIFT+CTRL+UP                   { move-column-to-monitor-up; }
  Mod+SHIFT+CTRL+DOWN                 { move-column-to-monitor-down; }

  // ─── Workspace Switching ───
  Mod+WHEELSCROLLDOWN                 cooldown-ms=150 { focus-workspace-down; }
  Mod+WHEELSCROLLUP                   cooldown-ms=150 { focus-workspace-up; }
  Mod+CTRL+WHEELSCROLLDOWN            cooldown-ms=150 { move-column-to-workspace-down; }
  Mod+CTRL+WHEELSCROLLUP              cooldown-ms=150 { move-column-to-workspace-up; }

  Mod+WHEELSCROLLRIGHT                { focus-column-right; }
  Mod+WHEELSCROLLLEFT                 { focus-column-left; }
  Mod+CTRL+WHEELSCROLLRIGHT           { move-column-right; }
  Mod+CTRL+WHEELSCROLLLEFT            { move-column-left; }

  Mod+SHIFT+WHEELSCROLLDOWN           { focus-column-right; }
  Mod+SHIFT+WHEELSCROLLUP             { focus-column-left; }
  Mod+CTRL+SHIFT+WHEELSCROLLDOWN      { move-column-right; }
  Mod+CTRL+SHIFT+WHEELSCROLLUP        { move-column-left; }

  Mod+1                               { focus-workspace 1; }
  Mod+2                               { focus-workspace 2; }
  Mod+3                               { focus-workspace 3; }
  Mod+4                               { focus-workspace 4; }
  Mod+5                               { focus-workspace 5; }
  Mod+6                               { focus-workspace 6; }
  Mod+7                               { focus-workspace 7; }
  Mod+8                               { focus-workspace 8; }
  Mod+9                               { focus-workspace 9; }

  Mod+Shift+1                          { move-column-to-workspace 1; }
  Mod+Shift+2                          { move-column-to-workspace 2; }
  Mod+Shift+3                          { move-column-to-workspace 3; }
  Mod+Shift+4                          { move-column-to-workspace 4; }
  Mod+Shift+5                          { move-column-to-workspace 5; }
  Mod+Shift+6                          { move-column-to-workspace 6; }
  Mod+Shift+7                          { move-column-to-workspace 7; }
  Mod+Shift+8                          { move-column-to-workspace 8; }
  Mod+Shift+9                          { move-column-to-workspace 9; }

  Mod+TAB                              { focus-workspace-previous; }

  Mod+Page_Down                        { focus-workspace-down; }
  Mod+Page_Up                          { focus-workspace-up; }
  Mod+I                                { focus-workspace-down; }
  Mod+U                                { focus-workspace-up; }

  Mod+Shift+Page_Down                  { move-workspace-down; }
  Mod+Shift+Page_Up                    { move-workspace-up; }
  Mod+Shift+U                          { move-workspace-down; }
  Mod+Shift+I                          { move-workspace-up; }

  Mod+Ctrl+Page_Down                   { move-column-to-workspace-down; }
  Mod+Ctrl+Page_Up                     { move-column-to-workspace-up; }
  Mod+Ctrl+U                           { move-column-to-workspace-down; }
  Mod+Ctrl+I                           { move-column-to-workspace-up; }


  // ─── Layout Controls ───

  Mod+BracketLeft                     { consume-or-expel-window-left; }
  Mod+BracketRight                    { consume-or-expel-window-right; }
  Mod+Apostrophe                      { focus-workspace-down; }
  Mod+Semicolon                       { focus-workspace-up; }
  Mod+Shift+Apostrophe                { move-window-to-workspace-down; }
  Mod+Shift+Semicolon                 { move-window-to-workspace-up; }
  Mod+Grave                           { focus-workspace-down; }
  Mod+Shift+Grave                     { focus-workspace-up; }

  Mod+M                               { expand-column-to-available-width; }
  Mod+C                               { center-column; }
  Mod+CTRL+C                          { center-visible-columns; }
  Mod+MINUS                           { set-column-width "-10%"; }
  Mod+EQUAL                           { set-column-width "+10%"; }
  Mod+SHIFT+MINUS                     { set-window-height "-10%"; }
  Mod+SHIFT+EQUAL                     { set-window-height "+10%"; }
  // ─── Modes ───
  Mod+S                               { toggle-window-floating; }
  Mod+Shift+S                         { switch-focus-between-floating-and-tiling; }
  Mod+T                               { toggle-column-tabbed-display; }
  Mod+F                               { maximize-column; }
  // Mod+Shift+F                         { fullscreen-window; }
  Mod+Shift+F                         { spawn "nfsm" "fullscreen"; }

  Mod+Space                           { switch-layout "next"; }
  Mod+Shift+Space                     { switch-layout "prev"; }

  Alt+Space   repeat=false            { spawn "~/.local/bin/vicinae" "toggle"; }
  Mod+Shift+Z repeat=false            { spawn "wooz" "--zoom-in" "45%" "--mouse-track" "--invert-scroll"; }

  // ─── Screenshots ───
  Print                               { screenshot; }
  Shift+Print                         { spawn "~/.config/niri/scripts/ss.sh"; }
  Mod+Print                           { spawn "~/.local/bin/myscripts/ocr-ss-text"; }
  Ctrl+Print                          { screenshot-screen; }
  Alt+Print                           { screenshot-window; }

  // ─── Emergency Escape Key ───
  // Use this when a fullscreen app blocks your keybinds.
  // It disables any active keyboard shortcut inhibitor, restoring control.
  Mod+ESCAPE                          allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  // ─── Exit / Power ───
  Mod+Control+X                       { quit; }
  Ctrl+Alt+Delete                     { quit; }
  Mod+CTRL+P                          { power-off-monitors; } // Turn off screens (useful for OLED or privacy)
  Mod+O                  repeat=false { toggle-overview; }
}

// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1" // Polkit
spawn-at-startup "awww-daemon" // Wallpaper daemon
spawn-sh-at-startup "awww img ~/.config/wall.png" // Set wallpaper
spawn-sh-at-startup "waybar -c ~/.config/niri/waybar/config.jsonc -s ~/Documents/dotfiles/.config/waybar/style.css" // Launch waybar
spawn-at-startup "gnome-keyring-daemon"
spawn-at-startup "nm-applet"
spawn-at-startup "swaync"
spawn-sh-at-startup "xrdb -override ~/.config/X11/Xresources"
spawn-sh-at-startup "swayidle -C ~/.config/niri/swayidle-config"
// spawn-sh-at-startup "hypridle -c ~/.config/niri/hypridle.conf"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-sh-at-startup "wlsunset -l 18.5204 -L 73.8567 -t 3500"
spawn-at-startup "vicinae" "server"
// spawn-sh-at-startup "st -e tmux &"
spawn-at-startup "gtk-launch" "kitty"
spawn-at-startup "nfsm"
// spawn-at-startup "/home/shubham/.local/bin/sway-audio-idle-inhibit"

prefer-no-csd // Disable program decorations
screenshot-path "~/Pictures/Screenshots/Screenshot-from-%Y-%m-%d %H-%M-%S.png"

cursor {
  xcursor-theme "Bibata-Modern-Ice"
  xcursor-size 24
}

// ────────────── Layout Settings ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout

layout {
  gaps 2 // Gap between windows
  center-focused-column "never" // Don’t auto-center focused column

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  focus-ring {
    width 2
    // active-gradient from="#a88bdc" to="#d1b7ff" angle=45 relative-to="workspace-view"
    active-gradient from="#b48ead" to="#d7b7e8" angle=45 relative-to="workspace-view"
    inactive-gradient from="#6f6a82" to="#7c7690" angle=45 relative-to="workspace-view"
    urgent-color "#9b0000"
    // urgent-gradient from="#e29cff" to="#f5c2ff" angle=45 relative-to="workspace-view"
  }

  shadow {
    on
    softness 30
    spread 5
    offset x=0 y=5
    color "#0007"
  }

  struts {}

  tab-indicator {
    width 4
    gap 4
    // length total-proportion=1.0
    // position "bottom"
    place-within-column
  }
}

// ────────────── Animation Settings ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
  workspace-switch {
    spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
  }
  window-open {
    duration-ms 200
    curve "ease-out-quad"
  }
  window-close {
    duration-ms 200
    curve "ease-out-cubic"
  }
  horizontal-view-movement {
    spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
  }
  window-movement {
    spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
  }
  window-resize {
    spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
  }
  config-notification-open-close {
    spring damping-ratio=0.6 stiffness=1200 epsilon=0.001
  }
  screenshot-ui-open {
    duration-ms 300
    curve "ease-out-quad"
  }
  overview-open-close {
    spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
  }
}

window-rule {
  geometry-corner-radius 4 // Set every window radius to 20
  clip-to-geometry true
}

window-rule {
  match app-id="^mpv$"
  tiled-state false
}

window-rule {
  match title="(.*)(— Sharing Indicator)"
  match app-id="^(thunar)$" title="^(Rename)(.*)"
  match app-id="^(org.kde.dolphin)$" title="^(Progress Dialog — Dolphin)$" 
  match app-id="^(org.kde.dolphin)$" title="^(Copying — Dolphin)$" 
  match title="^(About Mozilla Firefox)$" 
  match app-id="^(nm-applet|nm-connection-editor|should_be_floating)$" 
  match app-id="^(org.kde.polkit-kde-authentication-agent-1)$" 
  match title="^(Open File)(.*)$" 
  match title="^(Select a File)(.*)$" 
  match title="^(Choose wallpaper)(.*)$" 
  match title="^(Open Folder)(.*)$" 
  match title="^(Save As)(.*)$" 
  match title="^(Library)(.*)$" 
  open-floating true
}

window-rule {
  match app-id="should_be_floating" title="clipboard-cliphist"

  default-column-width { fixed 1400; }
  default-window-height { fixed 800; }
  open-floating true
}

// Sizes for apps already floating above (ported from mango config)
window-rule {
  match app-id=r#"^org\.kde\.dolphin$"# title="^(Progress Dialog — Dolphin|Copying — Dolphin)$"
  default-column-width { fixed 500; }
  default-window-height { fixed 300; }
}

window-rule {
  match title="^About Mozilla Firefox$"
  match app-id="^(nm-applet|nm-connection-editor)$"
  default-column-width { fixed 500; }
  default-window-height { fixed 400; }
}

window-rule {
  match app-id=r#"^org\.kde\.polkit-kde-authentication-agent-1$"#
  default-column-width { fixed 400; }
  default-window-height { fixed 200; }
}

window-rule {
  match app-id="^should_be_floating$"
  default-column-width { fixed 1200; }
  default-window-height { fixed 800; }
}
// Don't give focus to the Handy speech-to-text.
window-rule {
  match app-id="Handy" title="Recording"

  open-focused  false
  open-floating true
}

// Google Meet
window-rule {
  match title="^Meet – "
  open-floating true
  default-column-width { fixed 400; }
  default-window-height { fixed 400; }
}

// Bluetooth manager
window-rule {
  match app-id="^blueman-manager$"
  match app-id="^qalculate-gtk$"
  match app-id="chrome-nngceckbapebfimnlniiiahkandclblb-Default"

  open-floating true
  default-column-width { fixed 500; }
  default-window-height { fixed 400; }
}

window-rule {
  match title="^Picture-in-Picture$"
  match title="Picture-in-picture$"

  default-column-width { fixed 800; }
  default-window-height { fixed 450; }
  open-floating true
}

window-rule {
  match app-id=r#"^org\.pulseaudio\.pavucontrol$"#

  default-column-width { fixed 700; }
  default-window-height { fixed 500; }
  open-floating true
}

window-rule {
  match app-id=r#"^(xdg-desktop-portal-gtk|zenity)"#

  default-column-width { fixed 800; }
  default-window-height { fixed 600; }
  open-floating true
}

window-rule {
  match is-urgent=true

  focus-ring {
    width 8
    urgent-color "#9b0000"
  }
  shadow {
    color "#9b0000"
  }
}

// Indicate screencasted windows with red colors.
window-rule {
  match is-window-cast-target=true

  focus-ring {
    active-color "#f38ba8"
    inactive-color "#7d0d2d"
  }

  border {
    inactive-color "#7d0d2d"
  }

  shadow {
    color "#7d0d2d70"
  }

  tab-indicator {
    active-color "#f38ba8"
    inactive-color "#7d0d2d"
  }
}

window-rule {
  match title=r#"^((Choose wallpaper)(.*))|((Open Folder)(.*))|((Save As)(.*))$"#
  match is-active=true
  match is-focused=true
  match is-floating=true
}

window-rule {
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"^org\.gnome\.World\.Secrets$"#
  match app-id="chrome.+"
  match app-id="should_be_floating" title="clipboard-cliphist"

  block-out-from "screen-capture"

  // Use this instead if you want them visible on third-party screenshot tools.
  // block-out-from "screencast"
}

// ────────────── Environment Variables ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#environment

environment {
  DISPLAY                             ":1"
  ELECTRON_OZONE_PLATFORM_HINT        "auto"
  QT_QPA_PLATFORM                     "wayland"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  XDG_SESSION_TYPE                    "wayland"
  XDG_CURRENT_DESKTOP                 "niri"
  GTK_THEME                           "Squared"
  //GTK_ICON_THEME                    "breeze-dark"
  HYPRCURSOR_THEME                    "Bibata-Modern-Ice"
  HYPRCURSOR_SIZE                     "24"
  XCURSOR_THEME                       "Bibata-Modern-Ice"
  XCURSOR_SIZE                        "24"
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

hotkey-overlay {
  skip-at-startup
}

switch-events {
    lid-close {spawn "hyprlock";}
}
