# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]
prepend_keymap = [
  # { on = [ "g", "D" ], run = 'cd ~/Downloads', desc = "Goto Downloads" },
  { on = [ "g", "V" ], run = 'cd ~/Videos',   desc = "Goto Videos" },
  { on= [ "g",  "p"],  run = "cd ~/Pictures", desc = "Goto Pictures" },

  { on= ["g", "D", "d"], run="cd ~/Documents/dotfiles",       desc = "Goto dotfiles" },
  { on= ["g", "D", "b"], run="cd ~/Documents/Books",          desc = "Goto Books" },
  { on= ["g", "D", "p"], run="cd ~/Documents/Programming",    desc = "Goto Programming" },
  { on= ["g", "D", "i"], run="cd ~/Downloads/ISOs",           desc = "Goto ISOs" },
  { on= ["g", "D", "g"], run="cd ~/Downloads/GitClones",      desc = "Goto GitClones" },

  { on= ["g", "C", "a"], run="cd ~/.config/awesome",          desc = "Goto awesome" },
  { on= ["g", "C", "A"], run="cd ~/.config/alacritty",        desc = "Goto alacritty" },
  { on= ["g", "C", "b"], run="cd ~/.config/bspwm",            desc = "Goto bspwm" },
  { on= ["g", "C", "d"], run="cd ~/.config/doom",             desc = "Goto doom" },
  { on= ["g", "C", "l"], run="cd ~/.config/lf",               desc = "Goto lf" },
  { on= ["g", "C", "n"], run="cd ~/.config/nvim",             desc = "Goto nvim" },
  { on= ["g", "C", "k"], run="cd ~/.config/kitty",            desc = "Goto kitty" },
  { on= ["g", "C", "s"], run="cd ~/.config/sxhkd",            desc = "Goto sxhkd" },
  { on= ["g", "C", "v"], run="cd ~/.config/vifm",             desc = "Goto vifm" },
  { on= ["g", "C", "r"], run="cd ~/.config/rofi",             desc = "Goto rofi" },
  { on= ["g", "C", "z"], run="cd ~/.config/zsh",              desc = "Goto zsh" },
  { on= ["g", "l", "m"], run="cd ~/.local/bin/myscripts",     desc = "Goto myscripts" },
  { on= ["g", "l", "f"], run="cd ~/.local/share/fonts",       desc = "Goto fonts" },
  { on= ["g", "l", "t"], run="cd ~/.local/share/Trash/files", desc = "Goto Trash" },

  { on = [ "_" ], run = "link", desc = "Symlink(absolute)" },
  { on = [ "<C-s>" ], run = "shell 'fish' --block --confirm", desc="Drop to shell" },
  { on = [ "F" ],     run = "plugin smart-filter",            desc="Smart filter" },
  { on = [ "M" ],     run = "plugin mount",                   desc="Open mount UI" },

  { on = [ "l" ],       run = 'plugin smart-enter', desc = "Enter the child directory, or open the file" },
  { on = [ "c",  "a" ], run  = "plugin compress",   desc = "Archive selected files" },
  { on = [ "\\", "s" ], run  = "plugin what-size",  desc = "Calc size of selection or cwd" },

  { on = [ "+" ], run = "plugin zoom 1",  desc = "Zoom in hovered file" },
  { on = [ "-" ], run = "plugin zoom -1", desc = "Zoom out hovered file" },

  { on = [ "m" ], run = "plugin bookmarks save", desc = "Save current position as a bookmark" },
  { on = [ "'" ], run = "plugin bookmarks jump", desc = "Jump to a bookmark" },

  {on=["<Tab>"],run ="noop"},

  { on = [ "b", "d" ], run = "plugin bookmarks delete",     desc = "Delete a bookmark" },
  { on = [ "b", "D" ], run = "plugin bookmarks delete_all", desc = "Delete all bookmarks" },
  { on = [ "g", "x" ], run  = '''
    shell '
    if [[ "$OSTYPE" == "darwin"* ]]; then
      open "$@"
    else
      xdg-open "$@"
    fi
    '
    ''', desc = "Open file(s) with system opener"}
]
append_keymap = [
  { on = "<Space>", run = "toggle" },
  { on = "<C-a>", run = "toggle_all --state=on" },
]
